/* Estilo general */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #FFFFFF;
    overflow: hidden;
    background-color: #121212; /* Fondo oscuro como respaldo */
}

/* Video de fondo */
#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra toda la pantalla */
    z-index: -1; /* Ubicar el video detrás del contenido */
}