/* General */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    color: #FFFFFF;
    background-color: #121212;
}

/* Video de fondo */
#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

/* Contenedor de contenido */
.content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    gap: 20px;
}

/* Sección izquierda: lista de usuarios */
.left-section {
    flex: 1;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    height: 80vh; /* Aumentar la altura */
    overflow-y: auto; /* Permitir desplazamiento */
}

.left-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-shadow: 0 0 5px #FFFFFF;
}

#userList {
    list-style: none;
    padding: 0;
    gap: 10px;
}

#userList .list-group-item {
    background: #1a1a1a;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#userList .list-group-item:hover {
    background-color: #007bff;
    color: #FFFFFF;
    box-shadow: 0 0 10px #007bff;
    transition: 0.3s ease;
}

/* Sección derecha: botones */
.right-section {
    flex: 1;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    height: 80vh; /* Aumentar la altura */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-section h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow: 0 0 5px #FFFFFF;
}

button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

button:hover {
    transform: scale(1.05);
}

/* Botón primario */
.btn-primary {
    background: #007bff;
    color: #FFFFFF;
}

.btn-primary:hover {
    background: #0056b3;
}

/* Botón de peligro */
.btn-danger {
    background: #dc3545;
    color: #FFFFFF;
}

.btn-danger:hover {
    background: #b02a37;
}
